<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" th:href="@{/}"> The Hotel Room Safe application </a>
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> Main </a></li>
            </ul>
        </div>
    </div>
    <h1>Customer's Room</h1>
    <p>shows the belongings.</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>